{
  "env": {
     "development": { 
        "presets": [ 
          [
            "env",
            {
              "es2015": {
                "modules": false
              },
              "targets": {
                "browsers": ["last 2 Chrome versions"],
                "uglify": true
              }
            }
          ],
          "react", 
          "stage-2" 
        ],
        "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }]
        }]
      ]
      }, 
    "production": {
      "presets": [
        [
          "env",
          {
            "es2015": {
              "modules": false
            },
            "targets": {
              "browsers": ["last 2 Chrome versions"],
              "uglify": true
            }
          }
        ],
        "react",
        "stage-2"
      ],
      "plugins": [
        "react-hot-loader/babel",
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    },
    "test": {
      "presets": [
        "env",
        "react",
        "stage-2"
      ]
    }
  }
}
