body {
    color: #eae7e7;
}

input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  width: auto;
  position: relative;
  margin: 0px 10px;
  line-height: 100%;
  vertical-align: middle;
}

// redux progress bar
#nprogress {
  position: fixed;
  z-index: 1030;
  top: 0px;
  left: 0px;
  width: 100% !important;
  background-color: #1a1a1a !important;
  height: 6px !important;
  padding: 1px !important;
  border-radius: 2px !important;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444 !important;
  .bar {
    display: inline-block !important;
    border-radius: 3px !important;
    height: 5px !important;
    box-shadow: 0 5px 5px rgba(13, 189, 21, 0.7) inset, 0 -5px 5px rgba(14, 129, 43, 0.7) inset !important;
    animation: animate-glow 1s ease-out infinite;
    .peg {
      display: none !important;
    }
  }
}

@keyframes animate-glow {
  0% {
    box-shadow: 0 5px 5px rgba(17, 139, 17, 0.7) inset, 0 -5px 5px rgba(6, 116, 39, 0.7) inset;
  }
  50% {
    box-shadow: 0 5px 5px rgba(28, 175, 9, 0.3) inset, 0 -5px 5px rgba(61, 173, 26, 0.3) inset;
  }
  100% {
    box-shadow: 0 5px 5px rgba(20, 139, 17, 0.7) inset, 0 -5px 5px rgba(40, 116, 39, 0.7) inset;
  }
}

.alert {
  position: absolute;
  top: 15px;
  right: 15px;
}

.alert-success {
    background-color: rgba(14, 129, 43, 0.5);
    border-color: #000000;
    color: #ffffff;
  }

  